h2{
    text-align: center;
}

body{
    background-color: antiquewhite;
}

nav.menu{
    float: right;
}

header{
    width: 280px;
}

footer{
    height: 280px;
}

.col{
    background-color: coral;
    margin: 3px;
    text-align: center;
}
