h2{
    text-align: center;
}

body{
    background-color: antiquewhite;
}

nav.menu{
    float: right;
}

header{
    width: 280px;
}

footer{
    height: 280px;
}

.col{
    background-color: coral;
    margin: 3px;
    text-align: center;
}

/* footer */

footer{
    background-color: coral;
}

footer p{
    text-align: center;
    padding-top: 230px;
}