h2 {
  text-align: center;
}

body {
  background-color: antiquewhite;
}

nav.menu {
  float: right;
}

header {
  width: 280px;
}

.col {
  background-color: coral;
  margin: 3px;
  text-align: center;
}

/*cadastro & login */

a.btn {
  margin-top: 10px;
  margin-bottom: 15px;
}

/* footer */

footer {
  height: 400px;
  background-color: coral;
}

footer p {
  text-align: center;
  padding-top: 190px;
}

a.ajd {
  margin-top: 20px;
}

/* cadastro de filmes */

.pee {
  margin-top: 20px;
}

.box {
  margin-bottom: 20px;
}

a .cadastre {
  text-align: center;
}

/* Exebição */

.boxx {
  width: 50%;
  float: left;
  height: 500px; /*Altura da linha*/
}

.linha-vertical {
  border-left: 2px solid; /* Adiciona borda esquerda na div como ser fosse uma linha.*/
  box-sizing: border-box;
}

.text {
  text-align: center;
}

/* Listagem */
.excluir {
  margin-left: 30px;
}
/* jobs */

.card {
  margin-top: 50px;
  margin-left: 100px;
}

.search-input {
  background-color: rgb(228, 102, 48);
  border: 2px solid #fff;
  box-shadow: none;
  border-radius: 50px;
  color: #fff;
}

.search-input ::-webkit-input-placeholder,
.search-input :-moz-placeholder,
.search-input ::-moz-placeholder,
.search-input :-ms-input-placeholder {
  color: #fff;
  font-weight: bold;
}

/** rotation if needed **/
.glyphicon-rotate-180 {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}

.search-icon {
  position: relative;
  color: #fff;
  right: 30px;
  top: 2px;
}
